<!-- page content -->
<div class="right_col" style="background:transparent"  role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
	<h3>List of Diseases</h3>
      </div>
      <div class="title_right">
	<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
	  <div class="input-group">
	    <input type="text" class="form-control" placeholder="Search for...">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button">Go!</button>
	    </span>
	  </div>
	</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
	<% @conditions.each do |condition| %>
	<div>
	  <a href="/conditions/<%= condition.id %>/patient/new">
	    <div class="card card-green col-md-12">
	      <p class="card-question"><%= condition.name %></p>
	      <div class="card-separator"></div>
	      <div style="float: left;"><b>Male</b> <br/> #num</div>
	      <div style="float: right;"><b>Female</b><br/> #num</div>
	      <div class="clearfix"></div>
	      <div class="card-separator"></div>
	    </div>
	  </a>
	</div>
	<% end %>	
      </div>
    </div>
  </div>
</div>

