<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @condition_category.name %>
</p>

<%= link_to 'Edit', edit_condition_category_path(@condition_category) %> |
<%= link_to 'Back', condition_categories_path %>
